.venv/
backend/utils/__pycache__/
backend/__pycache__/
backend/router/__pycache__/
backend/.env
backend/core/__pycache__/
.agents/skills/
backend/utilis/__pycache__/
design-system/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
